@model WarehouseReservationSystem.Models.Fruit.Slots

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/NewLayout/_Layout.cshtml"; }


<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Preloader -->
<div class="preloader dark-mode flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="~/Images/FPT.png" alt="AdminLTELogo" height="200" width="200">
</div>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Close slots  </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <breadcrumb></breadcrumb>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" id="formid">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" id="date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="dateChange()" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WarehouseId" class="control-label"></label>
                        <select asp-for="WarehouseId" id="warehouse" class="form-control" asp-items="ViewBag.WarehouseId" onchange="dateChange()"></select>
                    </div>
                    <input id="startTime" asp-for="StartTime" type="hidden" class="form-control" onchange="dateChange()" />
                    <input asp-for="EndTime" type="hidden" id="endTime" class="form-control" onchange="dateChange()" />



                    <table>
                        <tr>
                            <td>
                                <div id="knobcontainer"></div>
                            </td>
                            <td>
                                <label>Start</label>
                                <div class="graph-left" id="start"></div>
                                <label>End</label>
                                <div class="graph-right" id="end"></div>
                                <label>Duration</label>
                                <div class="graph-center"></div>
                            </td>
                        </tr>
                    </table>



                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" id="submitBtn" />
                        <a asp-action="Index" class="btn btn-success">Back</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
<!-- Main content -->
<!-- /.content -->


@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script>var len = 0;
        var data;

        $(document).on('click', '#submitBtn', function (e) {

            dateChange();

            if (len>0) {
                e.preventDefault();

                swal({
                    title: "Are you sure?",
                    text: "There are " + len + " Bookings made between this time slot! They will be cancelled!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {

                            for (var i = 0; i < len; i++) {

                                var id = data.data[i].id;

                                    $.ajax({
                                        type: "DELETE",
                                        url: "/FruitCustomer/Slots/DeleteEmailSlots?id=" + id,
                                        success: function (data) {
                                            if (data.success) {
                                                toastr.success(data.message);
                                            }
                                            else {
                                                toastr.error(data.message);
                                            }
                                        }
                                    });
                            }

                           $('#formid').submit();
                        }
                        else {
                            swal("The Bookings are safe!");

                        }
                    });
            }

            else {
                $('#formid').submit();
            }


            });



        function dateChange() {

            var date = document.getElementById("date").value;

            let now = new Date();
            var dateString = moment(now).format('YYYY-MM-DD');

            var startTime = document.getElementById("startTime").value;
            var endTime = document.getElementById("endTime").value;

            var warehouse = document.getElementById("warehouse").value;
            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "/FruitCustomer/Slots/GetBookedSlots?date=" + date + "&WarehouseId=" + warehouse + "&sTime=" + startTime + "&eTime=" + endTime,
                async: false,
                success: function (response) {
                    len = response.data.length;
                    data = response;

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.status);
                }
            });

        }</script>


    <script src="~/js/plugin.js"></script>


    <script>$("#knobcontainer").timerangewheel({
            width: 300,
            height: 300,
            indicatorWidth: 12,
            handleRadius: 15,
            handleStrokeWidth: 1,
            accentColor: '#2C3E50',
            handleIconColor: "#fff",
            handleStrokeColor: "#fff",
            handleFillColorStart: "#0072bb",
            handleFillColorEnd: "#0072bb",
            tickColor: "#8a9097",
            indicatorBackgroundColor: "#8cc63e",
            data: { "start": "02:00", "end": "05:00" },
            onChange: function (timeObj) {
                $(".graph-left").html(timeObj.start);
                $(".graph-right").html(timeObj.end);
                $(".graph-center").html(timeObj.duration);

                console.log(timeObj.start)

                if (document.getElementById("start").innerHTML.split(":")[0] == "00") {
                    $("#startTime").val(24);
                    $("#endTime").val(document.getElementById("end").innerHTML.split(":")[0]);
                }

                else if (document.getElementById("end").innerHTML.split(":")[0] == "00") {
                    $("#startTime").val(document.getElementById("start").innerHTML.split(":")[0]);
                    $("#endTime").val(24);
                }

                else {
                    $("#startTime").val(document.getElementById("start").innerHTML.split(":")[0]);
                    $("#endTime").val(document.getElementById("end").innerHTML.split(":")[0]);
                }




            }
        });


        $.ajax({
            type: "GET",
            dataType: 'json',
            url: "/FruitCustomer/Slots/GetAllFuture?id=" + $('#warehouse').val(),
            async: false,
            success: function (response) {
                console.log(response.data[0].date)

                $('#date').change(function () {

                    if (response.data[0].date.split("T")[0] == $('#date').val()) {


                        swal({
                            title: "You already have slots closed for this date!",
                            text: "Delete/Edit the entry to make a new one!",
                            icon: "warning",

                            dangerMode: true,
                        })
                            .then((value) => {
                                location.reload();
                            });


                    }

                });

            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status);
            }
        });</script>







}