@using static WarehouseReservationSystem.Helpers.NavigationIndicatorHelper;
@using Microsoft.AspNetCore.Identity
@using WarehouseReservationSystem.Utility
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{ ApplicationUser applicationUser = (ApplicationUser)await UserManager.GetUserAsync(User); }
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-area="GCCustomer" asp-controller="GCBooking" asp-action="Create" class="brand-link">
        <img src="~/Images/FPT.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light"><b>FPT Group</b> (Pty) Ltd</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        @if (SignInManager.IsSignedIn(User) && applicationUser != null)
        {
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        @*<img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">*@
        <i class="fas fa-user-circle fa-2x text-secondary"></i>
    </div>
    <div class="info">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="d-block">Hello @applicationUser.FirstName!</a>
    </div>
</div> }

            else
            {
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="info">
        <a href="#" class="d-block">Hi, Visitor</a>
    </div>
</div>}
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                <li class="nav-header">Extra</li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="Selection" asp-controller="Home" asp-action="About">
                        <i class="fas fa-info-circle"></i>
                        <p>
                            About
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="~/Content/Terms and conditions.pdf">
                        <i class="fab fa-readme"></i>
                        <p>
                            Terms of Use/Disclaimer
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<script>/** add active class and stay opened when selected */
            var url = window.location;

            // for sidebar menu entirely but not cover treeview
            $('ul.nav-sidebar a').filter(function () {
                return this.href == url;
            }).addClass('active');

            // for treeview
            $('ul.nav-treeview a').filter(function () {
                return this.href == url;
            }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').addClass('active');</script>
