@page
@model ForgotPasswordConfirmation
@{ ViewData["Title"] = "Forgot password confirmation"; }
<style>
    body {
        background-image: url('/Images/vorster-vanzyl-s7cO6UBCj7o-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }
</style>

<br />
<br />
<br />
<br />
<br />
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

