
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/NewLayout/_Layout.cshtml"; }



<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        text-align: center;
        border-radius: 5px;

    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
        }

    img {
        border-radius: 5px 5px 0 0;
    }

    .container {
        padding: 2px 16px;
    }

    table, th, td {
    }

    th, td {
        padding: 12px;
    }

    th {
        padding-right: 100px;
    }

    td {
        text-align: left;
    }
</style>
<!-- Preloader -->
<div class="preloader dark-mode flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="~/Images/FPT.png" alt="AdminLTELogo" height="200" width="200">
</div>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <breadcrumb></breadcrumb>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">



        <div class="card" style=" width:100%">

            <div class="container">
                <h4><b>Contact Us</b></h4>
                <p>If you have any specific questions or inquiries concerning the system, feel free to contact us:</p>

                <b>Telephone: </b> <a>0313696871 / 0313696905</a>
                <br>
                <br>

            </div>
        </div>

        <br />





    </div>
</div>
